body {
    color: red;
    font-size: 36px;
    font-weight: bold;


    background-size: contain;
    background-image: url("Branding/gnrx-background.jpg");
    /* image will stay in place with page (fixed) */
    background-attachment: fixed;
    /* backgorund image will not repeat (no-repeat) */
    background-repeat: no-repeat;
    /* stretch/shrink image to cover the page (cover)  */
    background-size: cover;
    background-color: black;
}


footer {
    font-size: 8pt;
    text-align: center;
}