body {
    color: red;
    font-size: 36px;
    font-weight: bold;
    background-color: black;
}

hr {
    background-color: red;
    height: 10px;
    border: 5px solid rgb(17, 179, 66);
    border-radius: 10px;

}
