/* Site Standard Formatting */

::-webkit-scrollbar {
    display: none;
}

/* Header */
header {
    color: white;
    width: 100%;
}

.gnrx-header {
    min-height: 50px;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Socials */
.desktop-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: 5px;
}

.mobile-socials {
    display: none;
}

@media screen and (max-width:600px) {
    .mobile-socials {
        display: flex;
        gap: 6px;
        margin-top: 5px;
        margin-left: auto;
    }

    .desktop-socials {
        display: none;
    }
}

.invert {
    filter: invert(100%);
}

/* Nav */
nav {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    gap: 4px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.link-style-nav  {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: bold;
    font-size: 100%;

    color: white;
    width: fit-content;
    padding: 10px;

    border-radius: 12px;
    border: 2.5px solid white;
    background-color: black;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    color: white;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}


/* main / body / p */
main {
/* Centers both horizontally and vertically with one property */
    place-items: center;

    text-align: center;
}

body {
    color: #a2a2a2;
    font-size: 16px;
    font-family: Candara, Trebuchet MS;
    font-weight: bold;

    background-color: black;
}

p {
    margin-left: 20%;
    margin-right: 20%;
}

/* Footer */
footer {
    font-size: 12pt;
    text-align: center;
}

/* Page Unique Style*/

/* Links */
a:link, a:visited {
    color: white;
}

a:hover {
    color: #a2a2a2
}
.link-style-1  {
    display: flex;
    justify-self: center;

    text-decoration: none;
    font-weight: bold;
    font-size: 16px;


    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;

    border-radius: 12px;
    border: 2.5px solid white;
    background-color: black;
}

.no-underline {
    text-decoration: none;
}

/* Transportation Forms */
.transportation-form {
    justify-items: center;
}

ol {
    text-align: left;
    line-height: 150%;
}

/* Sheet Music */
.sheet-music {
    display: grid;
    place-items: center;
    font-size: 16pt;
}

/* Calendar */
.mobile-calendar, .desktop-calendar {
    display: flex;
    justify-content: center;
}

.mobile-calendar {
    display: none;
}

@media screen and (max-width:800px) {
    .desktop-calendar {
        display: none;
    }
    .mobile-calendar {
        display: flex;
    }
}